/*Colors*/
body {
    color: #2f3542;
    background-image: url("");
    background-repeat: no-repeat;
    background-color: #1e90ff;
} 
  h1 {
    color: #1a73e8;
  } 
  h2 {
    color:#dfe4ea;
  }
  h3 {
    color:#dfe4ea
  }
  h4 {
    color:#7bed9f
  }
  ul {
    color:#ff6b81
  }
  span {
    color:#ff6b81;
  }
  em {
    color:#eccc68;
  }
  strong {
    color:antiquewhite
  }
/*Fonts*/
.playwrite-gb-s {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 12;
  font-style: normal;
}
body{
  font-family: 'Playwrite GB S', 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 26px cursive;
}
p {
  font-family: Arial, serif;
  font-size: 20px;
}